<h1>Bonjour! Votre inscription est bien prise en compte.</h1>

<p>
    Veuillez confirmer votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien s'expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    HighFive et son équipe vous remercient !
</p>
