{% extends 'base_front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Choisissez votre formulaire</h1>
    <div class="row">
        <div>
            <a href="{{ path('app_register') }}">Inscription Joueur</a>
        </div>
        <div>
            <a href="{{ path('app_register_manager')}}">Inscription Manager</a>
        </div>
        
    </div>
{% endblock %}