.bg{
    background-color: #F9F6F1;
}

.bg-w{
    background-color: #fff;
}

.blue{
    background-color: #1E5366;
}

.color-blue{
    color: #1E5366;
}

.c-w{
    color: white;
}

.p-80{
    padding: 80px;
}

.p-40{
    padding: 40px;
}

.w-28{
    width: 28%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.w-full{
    width: 100%;
}

.rounded-33{
    border-radius: 1.3rem;
}