{% extends 'base_front.html.twig' %}

{% block title %}Wired Beauty{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <video controls width="250">
            {# <source src="{{ asset('assets/video/Video.mp4') }}" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video> #}

          <p style="font-family: 'Montserrat', sans-serif; font-weight: regular;">New ! Different ! Better ways to reseach skincare hybrid clinical trials and consumer studies</p>
        </div>
      </div>

      <div class="container" style="margin-top: 20%;">
        <!-- Example row of columns -->
        <div class="row">
          
          <div class="col-md-4">
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: regular;">Discover</h2>
            <hr style="  width:50px; color:#0991C3; height:1.5px;">
            <p style="font-family: 'Montserrat', sans-serif; font-weight: regular;">We help you discover new claims on large skin type cohorts</p>
          </div>

          <div class="col-md-4">
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: regular;">Prove</h2>
            <hr style="  width:50px; color:#0991C3; height:1.5px;">
            <p style="font-family: 'Montserrat', sans-serif; font-weight: regular;">We will prove claims through large data intelligence </p>
          </div>

          <div class="col-md-4">
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: regular;">Truly understand</h2>
            <hr style="  width:50px; color:#0991C3; height:1.5px;">
            <p style="font-family: 'Montserrat', sans-serif; font-weight: regular;">Thanks to us, we will help you to truly understand skin reactions in absence of product</p>
          </div>
        
          <div class="col-md-4">
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: regular;">Compare</h2>
            <hr style="  width:50px; color:#0991C3; height:1.5px;">
            <p style="font-family: 'Montserrat', sans-serif; font-weight: regular;">We will help you to performance on a long-term basis (Cohorts follow-up) </p>
          </div>

          <div class="col-md-4">
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: regular;">Understand</h2>
            <hr style="  width:50px; color:#0991C3; height:1.5px;">
            <p style="font-family: 'Montserrat', sans-serif; font-weight: regular;"> With our knowledge, we will help to understand exposome and skin </p>
          </div>

          <div class="col-md-4">
            <h2 style="font-family: 'Montserrat', sans-serif; font-weight: regular;">Save Time</h2>
                        <hr style="  width:50px; color:#0991C3; height:1.5px;">
            <p style="font-family: 'Montserrat', sans-serif; font-weight: regular;">You will save time because you will reduce your  testing process and will read simultanously skin response & consumer feed back</p>
          </div>

          
          
        </div>


      </div> <!-- /container -->

    
{% endblock %}
